In [16]:
%pip install pandas

Requirement already satisfied: pandas in /Users/shanduur/Repos/shanduur/SARS-CoV-2-RNA-seq/venv/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: pytz>=2020.1 in /Users/shanduur/Repos/shanduur/SARS-CoV-2-RNA-seq/venv/lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/shanduur/Repos/shanduur/SARS-CoV-2-RNA-seq/venv/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.0 in /Users/shanduur/Repos/shanduur/SARS-CoV-2-RNA-seq/venv/lib/python3.9/site-packages (from pandas) (1.22.3)
Requirement already satisfied: six>=1.5 in /Users/shanduur/Repos/shanduur/SARS-CoV-2-RNA-seq/venv/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [17]:
import pandas as pd

meta = pd.read_csv('GSE164948_covid_control_count_metadata.csv', sep = ';')
meta.head()

,Unnamed: 0,record_id,id_new,nFeature_RNA,cluster
0,AAAGCAAAGACAGACC-1_1,2054,C-1,1145,Non-classical Monocytes
1,AAAGCAATCAGCGATT-1_1,2054,C-1,963,CD8 EM
2,AAATGCCTCCGAGCCA-1_1,2054,C-1,1667,Classical/intermediate Monocytes
3,AACACGTTCAGTTGAC-1_1,2054,C-1,1450,Non-classical Monocytes
4,AACCGCGAGCGTTCCG-1_1,2054,C-1,1021,Classical/intermediate Monocytes

In [23]:
new_meta = pd.read_csv('smoking_status_elife_97.csv', sep = ';')
new_meta

       id                                       status pack_years
0   COV-1  Stopped smoking but used to smoke regularly         40
1   COV-2                       Never smoked regularly          0
2   COV-3  Stopped smoking but used to smoke regularly    unknown
3   COV-4                       Never smoked regularly    unknown
4   COV-5  Stopped smoking but used to smoke regularly    unknown
5   COV-6                                      unknown    unknown
6   COV-7                                      unknown    unknown
7   COV-8                       Never smoked regularly          0
8     C-1                       Never smoked regularly          0
9     C-2                       Never smoked regularly          0
10    C-3  Stopped smoking but used to smoke regularly         11
11    C-4  Stopped smoking but used to smoke regularly         20

In [19]:
s = new_meta['status'].unique()

new_meta['status_num'] = new_meta['status'].replace(s, [1, 0, -1])
new_meta

       id                                       status pack_years  status_num
0   COV-1  Stopped smoking but used to smoke regularly         40           1
1   COV-2                       Never smoked regularly          0           0
2   COV-3  Stopped smoking but used to smoke regularly    unknown           1
3   COV-4                       Never smoked regularly    unknown           0
4   COV-5  Stopped smoking but used to smoke regularly    unknown           1
5   COV-6                                      unknown    unknown          -1
6   COV-7                                      unknown    unknown          -1
7   COV-8                       Never smoked regularly          0           0
8     C-1                       Never smoked regularly          0           0
9     C-2                       Never smoked regularly          0           0
10    C-3  Stopped smoking but used to smoke regularly         11           1
11    C-4  Stopped smoking but used to smoke regularly         20           1

In [20]:
meta['smoking'] = 0

for id in new_meta['id']:
    status = new_meta[new_meta['id'] == id]['status_num'].tolist()[0]
    meta.loc[meta['id_new'] == id, 'smoking'] = meta.loc[meta['id_new'] == id, 'smoking'].apply(lambda x: status)

meta['smoking'].unique()

array([ 0,  1, -1])

In [21]:
cols = meta.columns.tolist()
cols[0] = ''
cols

['', 'record_id', 'id_new', 'nFeature_RNA', 'cluster', 'smoking']

In [22]:
import csv


meta.to_csv('GSE164948_covid_control_count_metadata_added.csv', sep=';', 
            index=False, quotechar='"', header=cols, quoting=csv.QUOTE_NONNUMERIC, line_terminator='\r\n')